@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-script: var(--font-great-vibes);
  --font-heading: var(--font-playfair);
  --font-body: var(--font-montserrat);

  --color-brand-rosa: #e96a9e;
  --color-brand-oro: #d9a441;
  --color-brand-rosa-secundario: #f29db8;
  --color-brand-rosa-medio: #f5b7c8;
  --color-brand-rosa-claro: #f8d4dd;
  --color-brand-crema: #fff8f4;
  --color-brand-ciruela: #6e2a44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}
